/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu {
  display: flex;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* ---------- About --------- */
#about {
  display: flex;
  flex-direction: column;
}

#about img {
  width: 100%;
  margin-bottom: 1.8rem;
}

/* ------------ Ideas --------- */

#ideas {
  display: flex;
  flex-direction: column;
}
.container--sub img {
  width: 100%;
}

/*------------- Host ------------- */
#host img {
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (max-width: 480px) {
  .logo {
    font-size: 1.6rem;
  }

  .form-group {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media all and (min-width: 987px) {
  /* Navigation */
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
  }

  .logo {
    font-size: 1.8rem;
  }
  /* Form */
  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-group {
    flex-direction: column;
    justify-content: center;
  }

  /* About */

  #about img {
    /* calculate the margin between images to get image width */
    width: calc(50% - 1rem);
  }

  /* add margin to all but last child */
  #about img:not(:last-child) {
    margin-right: 1rem;
  }
  .about-container {
    display: flex;
  }

  .about-container--sub {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
  }

  .about-container--sub img {
    width: 50px;
  }
  /* Ideas */

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  .container--sub img {
    width: 100%;
    object-fit: contain;
  }

  .container-sub {
    width: 50%;
  }

  .container--sub:not(:last-child) {
    margin-right: 1rem;
  }

  /* Host */

  #host {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    align-items: center;
  }

  .host-container {
    width: 50%;
  }
}
